<h1>Listing Todos</h1>

<table>
  <tbody>
    <% @todos.each do |todo| %>
      <%= render todo %>
    <% end %>
  </tbody>
</table>

<%= render partial: "form", locals: { todo: Todo.new } %>

<%= render "javascript_template" %>